<script src="https://www.google.com/recaptcha/api.js?render=6Lc7mtUqAAAAAJhgQe8n_7Arj6E9D8lOhvONJiju"></script>
<script>
  function onSubmit(event) {
      event.preventDefault();
      grecaptcha.ready(function() {
          grecaptcha.execute('6Lc7mtUqAAAAAJhgQe8n_7Arj6E9D8lOhvONJiju', {action: 'submit'}).then(function(token) {
              document.getElementById("contact-form").submit();
          });
      });
  }
</script>
<!DOCTYPE html>
<html lang="{{ or .Site.Language.Lang "ja" }}">

<head>
  {{- partial "head.html" . -}}
  {{ block "meta_tags" . }}{{end}}
</head>

<body class="flex flex-col min-h-screen">
  <main class="flex-grow">
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
      <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
</body>

</html>